In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import pylab as pl
from sklearn import linear_model
from sklearn.model_selection import train_test_split
import numpy as np
from sklearn import metrics
from word2number import w2n
%matplotlib inline

In [5]:
sal=pd.read_csv(r"E:\todo\UPX\Machine Learning\Linear Regerssion\csv_files\salary.csv")
sal.rename(columns = {'experience':'exp','test_score(outof10)':'tscore','Interview_score(outof10)':'iscore','salary($)':'salary'},inplace=True)

In [6]:
### I Just put the experience in words with number use index value ################
sal.at[6,'tscore']=7
sal

      exp  tscore  iscore  salary
0     NaN     8.0       9   50000
1     NaN     8.0       6   45000
2    five     6.0       7   60000
3     two    10.0      10   65000
4   seven     9.0       6   70000
5   three     7.0      10   62000
6     ten     7.0       7   72000
7  eleven     7.0       8   80000

In [7]:
sal

      exp  tscore  iscore  salary
0     NaN     8.0       9   50000
1     NaN     8.0       6   45000
2    five     6.0       7   60000
3     two    10.0      10   65000
4   seven     9.0       6   70000
5   three     7.0      10   62000
6     ten     7.0       7   72000
7  eleven     7.0       8   80000

In [8]:
sal.columns

Index(['exp', 'tscore', 'iscore', 'salary'], dtype='object')

In [12]:
sal.fillna('exp','zero')

      exp  tscore  iscore  salary
0     NaN     8.0       9   50000
1     NaN     8.0       6   45000
2    five     6.0       7   60000
3     two    10.0      10   65000
4   seven     9.0       6   70000
5   three     7.0      10   62000
6     ten     7.0       7   72000
7  eleven     7.0       8   80000

In [9]:
df_output=sal['salary']
df_input=sal[['exp', 'tscore', 'iscore']]
feature_columns=['exp', 'tscore', 'iscore']

In [10]:
###########Running the Linear Regeression initilising Variables first 
reg =linear_model.LinearRegression()
X_train, X_test, y_train, y_test = train_test_split(df_input, df_output, random_state=123,test_size=.6)
print("The No of Rows Columns in X_Train is which is based on test_size(.8) given earlier",X_train.shape)
print("The No of Rows Columns in X_test is which is based on test_size(.8) given earlier",X_test.shape)
print("The No of Rows Columns in y_train is which is based on test_size(.8) given earlier",y_train.shape)
print("The No of Rows Columns in y_test is which is based on test_size(.8) given earlier",y_test.shape)

The No of Rows Columns in X_Train is which is based on test_size(.8) given earlier (3, 3)
The No of Rows Columns in X_test is which is based on test_size(.8) given earlier (5, 3)
The No of Rows Columns in y_train is which is based on test_size(.8) given earlier (3,)
The No of Rows Columns in y_test is which is based on test_size(.8) given earlier (5,)

In [11]:
reg.fit(X_train,y_train)
y_pred = reg.predict(X_test)
print(y_pred,type(y_pred))
print(np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
print("reg.coef=>",reg.coef_,"reg.intercept_=>",reg.intercept_)

ValueError: could not convert string to float: 'five'

In [ ]:
print("reg.coef=>",reg.coef_,"reg.intercept_=>",reg.intercept_)
print(list(zip(feature_columns, reg.coef_)))
print("###########################")
print("Salary Pridction")
print(reg.predict([[12,10,10]]))
print(reg.predict([[2,9,6]]))

In [ ]:
2*2155.4770318021197 + 9*1222.61484099 + 6*1696.1130742  + 30014.134275618388

In [ ]:
a=reg.predict(X_test)
####Just Converting the Dataframe to array for result comparision
Y_test=np.array(y_test.values)
######### Calculate the Mean Square Error 
print(np.mean((a-y_test)**2))
for no in range(0,len(a)):
    print("Pridcited ",a[no], " Actual Value",Y_test[no],"Error Value=>",a[no]-Y_test[no])