In [6]:
import matplotlib.pyplot as plt
import pandas as pd
import pylab as pl
from sklearn import linear_model
from sklearn.model_selection import train_test_split
import numpy as np
%matplotlib inline

In [7]:
house=pd.read_csv(r"E:\UPX\Machine Learning\Linear Regerssion\housing.csv")
house

   area  bedroom  age   price
0  2600      3.0   20  550000
1  3000      4.0   15  565000
2  3200      NaN   18  610000
3  3600      3.0   30  595000
4  4000      5.0    8  760000

In [17]:
house['bedroom'].fillna(3,inplace=True)
house['bedroom']=house['bedroom'].astype(int)

In [42]:
df_output=house['price']
df_input=house[['area', 'bedroom', 'age']]
feature_columns=['area', 'bedroom', 'age', 'price']
X=house[['area', 'bedroom', 'age']]
y=house.price

In [33]:
reg =linear_model.LinearRegression()
X_train, X_test, y_train, y_test = train_test_split(df_input, df_output, random_state=123,test_size=.8)
print("The No of Rows Columns in X_Train is which is based on test_size given earlier",X_train.shape)
print("The No of Rows Columns in X_test is which is based on test_size given earlier",X_test.shape)
print("The No of Rows Columns in y_train is which is based on test_size given earlier",y_train.shape)
print("The No of Rows Columns in y_test is which is based on test_size given earlier",y_test.shape)

The No of Rows Columns in X_Train is which is based on test_size given earlier (1, 3)
The No of Rows Columns in X_test is which is based on test_size given earlier (4, 3)
The No of Rows Columns in y_train is which is based on test_size given earlier (1,)
The No of Rows Columns in y_test is which is based on test_size given earlier (4,)

In [47]:
#reg.fit(house[['area', 'bedroom', 'age']],house.price)
reg.fit(X,y)
print("reg.coef=>",reg.coef_,"reg.intercept_=>",reg.intercept_)

reg.coef=> [   137.25 -26025.    -6825.  ] reg.intercept_=> 383725.00000000006

In [60]:
## Pridicting Price based on input varible 3000 size ,3 bedroom and 40years 
print(reg.predict([[2000,2,40]]))
print(reg.predict([[3000,3,40]]))
print(reg.predict([[4000,4,40]]))
a=reg.predict(X_test)
a

[333175.]
[444400.]
[555625.]

array([589000., 595000., 748000., 526000.])

[('area', 137.24999999999997),
 ('bedroom', -26024.99999999998),
 ('age', -6825.0)]

In [ ]:
#######Interpreting the Co-Officient Values######################
# With Other Feaautes same 1 sqft area has 137.24999999999997 impact on price
# With Other Feaautes same 1Bedroom  has -26024.99999999998 impact on price
# With Other Feaautes same 1 Year  has  -6825 impact on price

In [62]:
print("reg.coef=>",reg.coef_,"reg.intercept_=>",reg.intercept_)
print(list(zip(feature_columns, reg.coef_)))
print(reg.predict([[4000,4,40]]))

reg.coef=> [   137.25 -26025.    -6825.  ] reg.intercept_=> 383725.00000000006
[('area', 137.24999999999997), ('bedroom', -26024.99999999998), ('age', -6825.0)]
[555625.]

In [63]:
### Lets Calculate the Prce using co-officents last variable is b in y=mx+b for continous variable 
## y= mx0 + mx1 + mx2
4000*137.25 + 4*-26025 + 40* -6825 + 383725.00000000006

555625.0

In [64]:
########a will have pridicted results for X_test values.############
a=reg.predict(X_test)
####Just Converting the Dataframe to array for result comparision
Y_test=np.array(y_test.values)
######### Calculate the Mean Square Error 
np.mean((a-y_test)**2)
for no in range(0,len(a)):
    print("Pridcited ",a[no], " Actual Value",Y_test[no],"Error Value=>",a[no]-Y_test[no])

324000000.0

In [71]:
#######Comparing Actual to Pridcitd value with Actual Values

Pridcited  589000.0  Actual Value 565000 Error Value=> 24000.0
Pridcited  595000.0  Actual Value 595000 Error Value=> 0.0
Pridcited  748000.0  Actual Value 760000 Error Value=> -12000.0
Pridcited  526000.0  Actual Value 550000 Error Value=> -24000.0